# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Django
*.log
*.pot
*.pyc
local_settings.py
db.sqlite3
db.sqlite3-journal
media

# Virtual Environment
venv/
ENV/
env/

# Environment variables
.env
env_production.txt

# Static files
staticfiles/

# IDE
.idea/
.vscode/
*.swp
*.swo
pyrightconfig.json
django_stubs.py

# OS specific
.DS_Store
Thumbs.db

# Deployment related
passenger_wsgi.py
cpanel_deployment_guide.txt 